@{
    //referencia o nome da aba
    ViewData["Title"] = "Home";
}
@*div faça seu pedido online*@
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-12 p-0">
            <img src="~/img/back_esfiha.png" alt="Barakyah" class="img-fluid" id="back_esfiha"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="back-green">
            <p class="text-center font-weight-light">Faça seu pedido online!</p>  
        </div>
    </div>
</div>

